<div class="box">
    <mat-sidenav-container class="row content">
        <mat-sidenav mode="side" class="side-nav"
            [opened]="userServ.users.length > 0">
            <mat-nav-list>
                @for (user of userServ.users; track user; let i = $index) {
                    <a mat-list-item [activated]="id() == i"
                        (click)="router.navigate(['user', i])">
                        {{user.alias ?? user.email}}
                    </a>
                }
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <ng-content />
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
